{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
      name="viewport"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    />
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'favicon.ico' %}"
    />

    <meta content="ie=edge" http-equiv="X-UA-Compatible" />
    <link href="{% static 'css/main.css' %}" rel="stylesheet" />
    <title>Dashboard</title>

    <style>
      #form-container {
        background-image: linear-gradient(
            rgba(230, 230, 230, 0.8),
            rgba(255, 255, 255, 0.8)
          ),
          url("{% static 'retina1.jpg' %}");
        background-position: center;
        background-size: cover;
      }
    </style>
  </head>

  <body>
    {% if user.is_authenticated %}
    <div class="container">
      <nav class="navbar" id="header">
        <div class="account">
          <a href="{% url 'skin_app:profile'%}" class="profilebtn">
            <i class="fas fa-user-alt"></i> profile</a
          >
          <a href="{% url 'skin_app:logout'%}" class="logoutbtn">
            logout <i class="fas fa-sign-out-alt"></i
          ></a>
        </div>
      </nav>
      <section class="app-container" id="form-container">
        <div class="gen-header mb-sm">
          <marquee behavior="scroll" direction="">
            <h1>skin cancer detection app</h1></marquee
          >
        </div>
        <form
          class="gen-form"
          action="{% url 'skin_app:submit' %}"
          method="POST"
          enctype="multipart/form-data"
        >
          <label id="upload" for="file" class="btn-upload">
            &nbsp; <i class="fas fa-cloud-upload-alt"></i> &nbsp; upload
            image</label
          >
          <input
            type="file"
            class="file"
            id="file"
            style="display: none"
            name="image"
          />
          <div class="image-preview" id="imagePreview">
            <img src="" alt="" class="image-preview--image" />
            <span id="previewText" class="image-preview--text"
              >No file chosen</span
            >
          </div>
          <label
            style="text-align: center; font-weight: 700"
            for="submit"
            class="btn submit"
            ><i class="fas fa-lens"></i> scan</label
          >
          <input
            class="btn mb-sm"
            id="submit"
            type="submit"
            style="display: none"
            value="Submit"
          />
        </form>
      </section>
      <footer class="footer">
        <ul class="nav">
          <li class="nav__item">
            <a
              href="https://www.cancer.org/cancer/melanoma-skin-cancer/about/what-is-melanoma.html"
              class="nav__link"
              >Melanoma</a
            >
          </li>
          <li class="nav__item">
            <a
              href="https://www.skincancer.org/skin-cancer-information/basal-cell-carcinoma/"
              class="nav__link"
              >basal cell carcinoma</a
            >
          </li>
          <li class="nav__item">
            <a href="" class="nav__link">Naevus</a>
          </li>
        </ul>
        <p class="copyright">
          Copyright &copy; <span id="date"></span> by <em>KJ. Ndichu</em> All
          rights reserved
        </p>
      </footer>
    </div>

    {% else %}
    <div class="container">
      <div class="app-container">
        <h2>Make sure you login</h2>
        <a href="{% url 'skin_app:login' %}">here</a>
      </div>
    </div>
    {% endif %}

    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
