{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,700,400,400i|Nunito:300,300i"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />

    <style>
      body {
        background-image: linear-gradient(
            rgba(107, 201, 230, 0.5),
            rgba(255, 255, 255, 0.5)
          ),
          url("{% static  'retina1.jpg' %}");
      }
    </style>
  </head>
  <body class="container">
    <div class="header">
      <div class="brand-container">
        <a href="#"> <img src="{% static  'logo-home.png' %}" alt="logo" /></a>
      </div>
      <div class="profile-container">
        <li class="mr-md">
          <a class=""> <i class="fas fa-user mb"></i> {{name}} </a>
        </li>
        <li>
          <a href="{% url 'logout' %}">
            Logout
            <i class="fas fa-sign-out-alt"></i>
          </a>
        </li>
      </div>
    </div>
    <div class="form-container">
      <div class="gen-header">
        <h1>skin cancer detection</h1>
      </div>
      <form
        class="gen-form"
        action="{% url 'submit' %}"
        method="POST"
        enctype="multipart/form-data"
      >
        <div class="mb-sm btn">
          <input type="file" name="image" />
        </div>
        <input class="btn mb-sm" id="submit" type="submit" value="Submit" />
      </form>
    </div>
  </body>
</html>
