{% extends 'base.html' %} {% load static %} {% block title %}
<title>login</title>
{% endblock %} {% block content %}
<style>
  .app-container {
    background-image: url("{% static 'skin_app/img/doctor.png' %}");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 20%;
  }
</style>
<form action="" method="post" class="form">
  {% csrf_token %}

  <label for="username">
    Username:
    <input type="text" name="username" id="username" class="form-input" />
  </label>
  <label for="password">
    Password:
    <input type="password" name="password" id="password" class="form-input" />
  </label>
  <button style="margin-top: 30px" class="btn login" type="submit">
    login
  </button>
</form>
<h4>
  Don't have an account? Create one
  <a href="{% url 'skin_app:register'%}" class="registerbtn">here</a>
</h4>
{% endblock %}
