{% extends 'base.html' %} {% load static %} {% block title %}
<title>register</title>
{% endblock %} {% block content %}
<style>
  .app-container {
    background-image: url("{% static 'skin_app/img/profilelockscreen.png' %}");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 20%;
  }
</style>

<form action="" method="POST" class="form">
  {% csrf_token %}

  <label for="username">
    Username:
    <input type="text" name="username" id="username" class="form-input" />
    <br />
    <span class="helptext"
      >Required. 150 characters or fewer. Letters, digits and @/./+/-/_
      only.</span
    >
  </label>
  <label for="email">
    Email Add:
    <input type="email" name="email" id="email" class="form-input" />
  </label>
  <label for="password">
    Password:
    <input
      type="password"
      name="password1"
      id="password"
      autocomplete="new-password"
      class="form-input"
    />
    <br />
    <span class="helptext">
      <ul>
        <li>
          Your password can’t be too similar to your other personal information.
        </li>
        <li>Your password must contain at least 8 characters.</li>
        <li>Your password can’t be a commonly used password.</li>
        <li>Your password can’t be entirely numeric.</li>
      </ul>
    </span>
  </label>
  <label for="confirm_password">
    Password:
    <input
      type="password"
      name="password2"
      id="confirm_password"
      autocomplete="new-password"
      class="form-input"
    />
    <br />
    <span class="helptext"
      >Enter the same password as before, for verification.</span
    >
  </label>
  <button class="btn">Sign Up</button>
</form>

<h4>Back to <a href="{% url 'skin_app:login' %}">Sign In</a></h4>

{% endblock %}
