.header {
    height: 85vh;
    background-color: #f7f7f7;

    grid-column: full-start / full-end;

    padding: 4rem 8rem 0 8rem;
    padding-top: 4rem;

    display: grid;
    grid-template-rows: min-content 1fr;

    &__heading{
        // grid-template-columns: sidebar-start / sidebar-end;
        text-align: center;
    }

    &__logic{
        text-align: center;

        display: grid;

        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        grid-row-gap: 1.5rem;


        &--patient{
        }


        &--generator{
        }
    }
    &__logo {
        height: 3rem;
        justify-self: center;
    }

    &__btn {
        align-self: start;
        justify-self: start;
    }

    &__seenon--text {
        display: grid;

        font-size: 1.6rem;
        color: $color-grey-dark-1;
        grid-template-columns: 1fr max-content 1fr;
        grid-column-gap: 1.5rem;
        align-items: center;

        &::before,
        &::after {
            content: "";
            height: 1px;
            display: block;
            background-color: currentColor;
        }
    }

    &__seenon--logos {

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 3rem;
        justify-items: center;

        img {
            height: 2.5rem;
            filter: brightness(70%);
        }

    }
}