*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Josefin Sans", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700; }

.heading-1 {
  font-size: 4.5rem;
  font-weight: 600;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #00A4E0, #24bbf1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1; }

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1; }
  .heading-2--light {
    color: #54483A; }
  .heading-2--dark {
    color: #6D5D4B; }

.heading-3 {
  font-size: 1.6rem;
  color: #86C64D;
  text-transform: uppercase; }

.heading-4 {
  font-size: 1.9rem; }
  .heading-4--light {
    color: #54483A; }
  .heading-4--dark {
    color: #54483A; }

.btn {
  background-color: #86C64D;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all 0.2s; }
  .btn:hover {
    background-color: #568b27; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }

.header {
  height: 95vh;
  background-color: #f7f7f7;
  grid-column: full-start / full-end;
  padding: 8rem;
  padding-top: 4rem;
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-row-gap: 1.5rem; }
  .header__heading {
    text-align: center; }
  .header__logic {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-row-gap: 1.5rem; }
  .header__logo {
    height: 3rem;
    justify-self: center; }
  .header__btn {
    align-self: start;
    justify-self: start; }
  .header__seenon--text {
    display: grid;
    font-size: 1.6rem;
    color: #54483A;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 1.5rem;
    align-items: center; }
    .header__seenon--text::before, .header__seenon--text::after {
      content: "";
      height: 1px;
      display: block;
      background-color: currentColor; }
  .header__seenon--logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3rem;
    justify-items: center; }
    .header__seenon--logos img {
      height: 2.5rem;
      filter: brightness(70%); }

.footer {
  background-image: linear-gradient(rgba(0, 164, 224, 0.85), rgba(0, 164, 224, 0.85)), url(../img/canc1.jpg);
  grid-column: full-start / full-end;
  background-size: cover;
  background-position: center;
  padding: 8rem; }

.nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
  align-items: center; }
  .nav__link:link, .nav__link:visited {
    font-size: 1.4rem;
    color: #fff;
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5rem;
    display: block;
    transition: all .2s; }
  .nav__link:hover, .nav__link:active {
    background-color: rgba(255, 255, 255, 0.05);
    transform: translateY(-3px); }

.copyright {
  font-size: 1.4rem;
  color: #000;
  margin-top: 6rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 70%; }
